body {
    background: #adebad;
    /*padding: 20px;*/
}

#header {
    padding: 20px;
    background: #00ccff;
	text-align: center;
}

#content {
    padding: 20px;
    background: white;
}

#footer {
    padding: 20px;
    background: green;
}
#catalog_header {
    text-align: center;
    background-color: #00ccff;
    overflow: auto;
}